
/* -------------------------------------<Imports>------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/* -------------------------------------<COLOR VARIABLES>------------------------------------- */
$brand-primary: #FFA600;
$brand-primary-light: #FFAF19;
$brand-primary-dark: #B37400 ;
$brand-secondary: #0070FF;
$brand-accent: #004FB3;

$text-light: #EDF0F1;
$text-dark: rgb(128, 130, 131);

// Remember! 60-30-10 rule. 60% Primary, 30% Secondary, and 10% accent


/* -------------------------------------<COMMON CLASSES>------------------------------------- */
.flexParent {
  display: flex;
  flex-wrap: wrap;    
  flex-direction: row; //flexParent is horizontal by default

  #vertical {
      flex-direction: column !important;
      justify-content: space-between;   
  }
}

.flexChild {
  flex-grow: 1;       
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //font-family: Arial, Helvetica, sans-serif;
  font-family: "Montserrat", sans-serif;

}

/* -------------------------------------<HEADER>------------------------------------- */

header {
  background-color: $brand-primary;
  display: flex;
  justify-content: flex-end;;
  align-items: center;
  padding: 30px 10%;
    li, a, button {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: $text-light;
      text-decoration: none;
  }

  .navLinks {
    list-style: none;
    li {
      display: inline-block;
      padding: 0px 20px;

      a {
        transition: all 0.1s ease 0s;
      }

      a:hover {
        transition: all 0.1s ease 0s;
        color: $brand-secondary;
      }
    }
  }

  button {
    margin-left: 20px;
    padding: 9px 25px;
    background: none;
    //background-color: rgba(0, 136, 169, 1);
    border: 1;
    border-color: $text-light;
    border-collapse: none;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
  }

  button:hover {
    transition: all 0.1s ease 0s;
    background-color: $text-light;
    color: $brand-secondary;

  }

  .logo {
    cursor: pointer;
    margin-right: auto;
  }
}

/* -------------------------------------<MAIN>------------------------------------- */
main {
  .mainText {
    padding: 20px;
  }

  .keyValues {
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    .logos {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
    }

}

/* -------------------------------------<FOOTER>------------------------------------- */

footer {
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgb(255, 166, 0);
  color: white;

  #red {
  background-color: #0070FF;
  
  }

  #blue {
    background-color: #004FB3;
  }

}